<?xml version="1.0" encoding="UTF-8"?>
<!-- Replace the 3 asterisks with the password -->
<Passwords>
    <root_password><![CDATA[password123!!]]></root_password>
    <sapadm_password><![CDATA[Password123!!]]></sapadm_password>
    <master_password><![CDATA[Password123!!]]></master_password>
    <password><![CDATA[Password123!!]]></password>
    <system_user_password><![CDATA[Password123!!]]></system_user_password>
    <streaming_cluster_manager_password><![CDATA[Password123!!]]></streaming_cluster_manager_password>
    <ase_user_password><![CDATA[Password123!!]]></ase_user_password>
    <org_manager_password><![CDATA[Password123!!]]></org_manager_password>
    <tenantdb_user_password><![CDATA[Password123!!]]></tenantdb_user_password>
</Passwords>