<?xml version="1.0" encoding="UTF-8"?>
<!-- Replace the 3 asterisks with the password -->
<Passwords>
    <root_password><![CDATA[Intelligenci@003]]></root_password>
    <sapadm_password><![CDATA[Intelligenci@003]]></sapadm_password>
    <password><![CDATA[Intelligenci@003]]></password>
    <system_user_password><![CDATA[Intelligenci@003]]></system_user_password>
    <streaming_cluster_manager_password><![CDATA[Intelligenci@003]]></streaming_cluster_manager_password>
    <ase_user_password><![CDATA[Intelligenci@003]]></ase_user_password>
    <org_manager_password><![CDATA[Intelligenci@003]]></org_manager_password>
</Passwords>
